@import 'globals';
@import 'variables';

.about-page-wrap123{
    padding-top: 40px;
}
.company{
    // margin-top: 62px;
    .wraper-company{
        padding:0 48px;
        .inside-company{
            .text-wrap{
                position: relative;
                opacity: 1;
                transform: translateY(0);
              
                .crack{
                    height: 70%;
                    width: 100%;
                    font-family: 'Defectica-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 177px;
                    line-height: 212.4px;
                    font-weight: 400;
                    margin: 0;
                    transition-delay: .3s;
                    &::after{
                        content: "";
                        background-image: url('../../imgs/hypon.svg');
                        display: block; 
                        top: 40%;
                        right: 29%;       
                        width: 220px;
                        height: 13px;
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                        z-index: 2;
                    }
                }
                .break-text{
                    display: flex;
                    justify-content: end;
                    align-items: flex-start;
                    gap: 24px;
                    margin: 0;
                    width: 100%;
                    font-family: 'Defectica-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 177px;
                    line-height: 212.4px;
                    font-weight: 400;
                    text-align: end;
                    transition-delay: .4s;
                    p{
                        font-family: 'Aeonik-Regular', sans-serif;
                        color: $priamry_color;
                        font-size: 18px;
                        line-height: 28.8px;
                        font-weight: 400;
                        text-align: end;
                        text-transform: uppercase;
                        margin: 0;
                    }
                }
            }
            .img-wraper{
                .curtain{
                    transition-delay:.9s;
                }
                img{
                    width: 100%;

                }
            }
        }
    }
}


@media(max-width:1800px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 22%;
    }
}
@media(max-width:1600px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 12%;
    }
}
@media(max-width:1440px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 2%;
    }
}
@media(max-width:1200px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 7%;
        width: 150px;
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 124px;
        line-height: 166.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 124px;
        line-height: 166.4px;
    }
}
@media(max-width:1024px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 15%;
        width: 115px;
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 110px;
        line-height: 145.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 110px;
        line-height: 145.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text p {
        font-size: 16px;
        line-height: 22.8px;
    }
}

@media(max-width:992px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 10%;
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 86px;
        line-height: 110.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 86px;
        line-height: 110.4px;
    }
}
@media(max-width:768px){
    .about-page-wrap123 {
        padding-top: 70px;
    }
    .company .wraper-company {
        padding: 0 16px;
    }
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 10%;
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 86px;
        line-height: 110.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 86px;
        line-height: 110.4px;
    }
    .company .wraper-company .inside-company .img-wraper{
        height: 580px;
    }
    .company .wraper-company .inside-company .img-wraper .wrap-brick{
        height: 100%;
    }
    .company .wraper-company .inside-company .img-wraper .wrap-brick .brick-img{
        height: 100%;
    }
    .company .wraper-company .inside-company .img-wraper .wrap-brick .brick-img img{
        height: 100%;
        object-fit: cover;
    }
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 33%;
        width: 100px;
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 60px;
        line-height: 74.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 60px;
        line-height: 74.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text p {
        display: none;
    }
}

@media(max-width:705px){
    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 20%;
        width: 100px;
    }
}
@media(max-width:660px){

    .company .wraper-company .inside-company .text-wrap .crack::after {
        right: 12%;
    }
}
@media(max-width:560px){

    .company .wraper-company .inside-company .text-wrap .crack::after {
    width: 80px;    
}
}
@media(max-width:500px){

    .company .wraper-company .inside-company .text-wrap .crack::after {
    width: 70px;   
    right: 5%; 
}
}
@media(max-width:475px){

    .company .wraper-company .inside-company .text-wrap .crack::after {
    width: 70px;   
    right: 2%; 
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 54px;
        line-height: 72.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 54px;
        line-height: 72.4px;
    }
}
@media(max-width:475px){

    .company .wraper-company .inside-company .text-wrap .crack::after {
    width: 60px;   
    right: 0%; 
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 50px;
        line-height: 72.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 50px;
        line-height: 72.4px;
    }
}
@media(max-width:390px){

    .company .wraper-company .inside-company .text-wrap .crack::after {
        display: none;
    }
    .company .wraper-company .inside-company .text-wrap .crack {
        font-size: 50px;
        line-height: 72.4px;
    }
    .company .wraper-company .inside-company .text-wrap .break-text {
        font-size: 50px;
        line-height: 72.4px;
    }
}


