@import 'globals';
@import 'variables';

.banner1{
    margin-bottom: 22px;
    margin-top: 32px;
    .wraper-banner{
        .inside-banner{
            padding: 0 48px;
            .text-wrap{
                margin-top: 32px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                .cases-text-project{
                    display: flex;
                    // gap: 12px;
                    h1{
                        margin:0;
                        font-family: 'Defectica-Regular', sans-serif;
                        color: $priamry_color;
                        font-size: 177px;
                        line-height: 212.4px;
                        font-weight: 400;
                    }
                    .nr-cses{
                        font-family: 'Aeonik-Regular', sans-serif;
                        color: $priamry_color;
                        font-size: 18px;
                        line-height: 25.2px;
                        margin: 0;
                        transition: all ease-out .3s;
                        transition-delay: 1s;
                        opacity: 0;
                        &.is-inview{
                            opacity: 1;
                        }
                    }
                }

            }
            .scroll{
                text-decoration: none;
                font-family: 'Defectica-Regular', sans-serif;
                color: $color-cat;
                font-size: 60px;
                line-height: 74.4px;
                background: none; 
                border: none; 
                cursor: pointer;
                h6{
                    text-decoration: none;
                    font-family: 'Defectica-Regular', sans-serif;
                    color: $color-cat;
                    font-size: 60px;
                    line-height: 74.4px;
                    background: none; 
                    border: none; 
                    cursor: pointer;
                    font-weight: 500;
                    margin: 0;
                    &.is-inview{
                        animation: pulseUp 3s ease-in-out infinite;
                    }
                }
            }
            .img-wrap{
                .curtain{
                    transition-delay: 1.4s;
                }
            }
        }
    }
}


.text-wrap{
    opacity: 0;
    transform: translateY(20%);
    transition: all ease-in .3s;
    transition-delay: .5s;
    &.is-inview{
        opacity: 1;
        transform: translateY(0);
    }
    h1{

    }
}
@keyframes pulseUp {
    0% {
      transform: translateY(0); 
    }
    30% {
      transform: translateY(10px); 
    }
    60% {
      transform: translateY(0); 
    }
    100% {
      transform: translateY(0);
    }
  }

  @media(max-width:1440px){
    .banner1 .wraper-banner .inside-banner .text-wrap .cases-text-project h1 {
        font-size: 129px;
        line-height: 186.4px;
    }
    .banner1 .wraper-banner .inside-banner .scroll h6 {
        font-size: 42px;
    }
  }
  @media(max-width:1024px){
    .banner1 .wraper-banner .inside-banner .text-wrap .cases-text-project h1 {
        font-size: 100px;
        line-height: 138.4px;
    }
    .banner1 .wraper-banner .inside-banner .scroll h6 {
        font-size: 32px;
    }
  }
  @media(max-width:768px){
    .banner1{
        margin-top: 55px;
    }
    .banner1 .wraper-banner .inside-banner .text-wrap .cases-text-project h1 {
        padding-left: 16px;
        font-size: 60px;
        line-height: 74.4px;
    }
    .banner1 .wraper-banner .inside-banner .scroll h6 {
    display: none;    
    }
    .banner1 .wraper-banner .inside-banner {
        padding: 0 0px;
    }
    .banner1 .wraper-banner .inside-banner .img-wrap .wrap-brick .brick-img img{
        height: 635px;
        object-fit: cover;
    }
    .banner1 .wraper-banner .inside-banner .img-wrap{
        margin-top: 10px;
    }


  }
  
