@import 'globals';
@import 'variables';

.cases-home{
    margin-top: 130px;
    .wraper-cases{
        padding: 0 48px;
        .inside-cases{
            width: 100%;
            .img-1-big,
            .img-last{
                margin-bottom: 140px;
                a{
                    text-decoration: none;
                    .wrap-img{
                        img{
                            width: 100%;
                            max-height: 900px;
                        }
                        .text{
                            margin-top: 24px;
                            .cat{
                                margin-bottom: 0;
                                margin-top: 0;
                                color: $color-cat;
                            }
                            .name{
                                margin-bottom: 0;
                                margin-top: 0;
                                font-family: 'Aeonik-Regular', sans-serif;
                                color: $priamry_color;
                                font-size: 18px;
                                line-height: 28.8px;
                            }
                        }
                    }
                }
            }
            .wraper-grid-1{
                position: relative;
                .img-M{
                    width: 37.2%;
                    margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-S{
                    width: 25%;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-L{
                    width: 65%;
                    margin-bottom:140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                max-height: 860px;
                                height:860px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
            }
            .wraper-grid-2{
                position: relative;
                margin-bottom: 14% !important;
                .img-M{
                    width: 37.2%;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-S{
                    width: 25%;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-L{
                    width: 65%;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                max-height: 860px;                    
                                height:860px;
                                object-fit: cover;

                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.img-last{
    margin-top: 100px;
    margin-bottom: 120px;
    a{
        text-decoration: none;
        .wrap-img{
            img{
                width: 100%;
                max-height: 900px;
            }
            .text{
                margin-top: 24px;
                .cat{
                    margin-bottom: 0;
                    margin-top: 0;
                    color: $color-cat;
                }
                .name{
                    margin-bottom: 0;
                    margin-top: 0;
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 18px;
                    line-height: 28.8px;
                }
            }
        }
    }
}
.wrap-brick {
    position: relative;
    overflow: hidden; 
}

.cases-home{
    .wrap-img{
        .brick-img {
            img{
                width: 100%; 
                height: auto;
                will-change: transform; 
            }
            .curtain {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -o-transform: translateY(0);
                transition: all cubic-bezier(.47,.15,0,.99) .5s;
                -webkit-transition: all cubic-bezier(.47,.15,0,.99) .5s;
                -moz-transition: all cubic-bezier(.47,.15,0,.99) .5s;
                -o-transition: all cubic-bezier(.47,.15,0,.99) .5s;
            }
            &.is-inview{
                .curtain {
                    transform: translateY(-100%);
                    transition-delay: .5s;
                }
            }
        }
    }
}
@media(max-width:1600px){
    .cases-home{
        .wraper-cases{
            .inside-cases{ 
                .wraper-grid-2{
                    margin-bottom: 23% !important;
                }
            }
        }
    }
}
@media(max-width:1440px){
    .cases-home{
        .wraper-cases{
            .inside-cases{ 
                .wraper-grid-2{
                    margin-bottom: 25% !important;
                }
                .wraper-grid-1 {
                    padding-bottom: 5%;
                }
            }
        }
    }
}
@media(max-width:1200px){
    .cases-home{
        .wraper-cases{
            .inside-cases{ 
                .wraper-grid-1{
                    .img-M{
                        a{
                            .wrap-img {
                                img{
                                    height: 420px;
                                    max-height: 420px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        a{
                            .wrap-img {
                                img{
                                    height: 420px;
                                    max-height: 420px;
                                }
                            }
                        }
                    }
                    .img-L{
                        a{
                            .wrap-img {
                                img{
                                    max-height: 660px;
                                    height: 660px;
                                }
                            }  
                        } 
                    }
                }
                .wraper-grid-2{
                    .img-M{
                        a{
                            .wrap-img {
                                img{
                                    height: 420px;
                                    max-height: 420px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        a{
                            .wrap-img {
                                img{
                                    height: 420px;
                                    max-height: 420px;
                                }
                            }
                        }
                    }
                    .img-L{
                        a{
                            .wrap-img {
                                img{
                                    max-height: 660px;
                                    height: 660px;
                                }
                            }  
                        } 
                    }
                }
            }
        }
    }
}
@media(max-width:1024px){
    .cases-home{
        .wraper-cases{
            padding: 0 36px;
            .inside-cases{ 
                .wraper-grid-1{
                    .img-M{
                        a{
                            .wrap-img {
                                img{
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        a{
                            .wrap-img {
                                img{
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                    .img-L{
                        a{
                            .wrap-img {
                                img{
                                    max-height: 560px;
                                    height: 560px;
                                }
                            }  
                        } 
                    }
                }
                .wraper-grid-2{
                    .img-M{
                        a{
                            .wrap-img {
                                img{
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        a{
                            .wrap-img {
                                img{
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                    .img-L{
                        a{
                            .wrap-img {
                                img{
                                    max-height: 560px;
                                    height: 560px;
                                }
                            }  
                        } 
                    }
                }
            }
        }
    }
}
@media(max-width:900px){
    .cases-home{
        .wraper-cases{
            padding: 0 30px;
            .inside-cases{
                .img-1-big,
                .img-last{
                    margin-bottom: 110px;
                }
                .wraper-grid-1{
                    .img-M{
                        a{
                            .wrap-img {
                                img{
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        a{
                            .wrap-img {
                                img{
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }
                        }
                    }
                    .img-L{
                        a{
                            .wrap-img {
                                img{
                                    max-height: 500px;
                                    height: 500px;
                                }
                            }  
                        } 
                    }
                }
                .wraper-grid-2{
                    .img-M{
                        a{
                            .wrap-img {
                                img{
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        a{
                            .wrap-img {
                                img{
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }
                        }
                    }
                    .img-L{
                        a{
                            .wrap-img {
                                img{
                                    max-height: 500px;
                                    height: 500px;
                                }
                            }  
                        } 
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .cases-home{
        .wraper-cases{
            padding: 0 16px;
            .inside-cases{
                .img-1-big,
                .img-last{
                    max-height: 480px;
                    height: 480px;
                    a{
                        .text{
                            margin-top: 8px;
                            .cat{
                                font-size: 14px;
                            }
                            .name{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .wraper-grid-1{
                    .img-M{
                        margin-bottom: 64px;
                        left: 33.3%;
                        width: 67.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }  
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }
                        } 
                    }
                    .img-S{
                        position: relative;
                        top: 0;
                        margin-bottom: 64px;
                        width: 67.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .img-L{
                        width: 100%;
                        left: 0;
                        margin-bottom: 64px;
                        a{
                            .wrap-img {
                                img{
                                    max-height: 480px;
                                    height: 480px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }  
                        } 
                    }
                }
                .wraper-grid-2{
                    margin-bottom: 15% !important;
                    .img-M{
                        margin-bottom: 64px;
                        right: 33.3%;
                        width: 67.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        position: relative;
                        top: 0;
                        margin-bottom: 64px;
                        width: 67.1%;
                        left: 33.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .img-L{
                        width: 100%;
                        left: 0;
                        margin-bottom: 64px;
                        a{
                            .wrap-img {
                                img{
                                    max-height: 480px;
                                    height: 480px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }  
                        } 
                    }
                }
            }
        }
    }
}
