@import 'globals';
@import 'variables';

.cases-home{
    margin-top: 130px;
    .wraper-cases{
        padding: 0 48px;
        .inside-cases{
            width: 100%;
            .img-1-big,
            .img-last{
                // margin-top: 20%;
                margin-bottom: 140px;
                a{
                    text-decoration: none;
                    .wrap-img{
                        img{
                            width: 100%;
                            max-height: 900px;
                        }
                        .text{
                            margin-top: 24px;
                            .cat{
                                margin-bottom: 0;
                                margin-top: 0;
                                color: $color-cat;
                            }
                            .name{
                                margin-bottom: 0;
                                margin-top: 0;
                                font-family: 'Aeonik-Regular', sans-serif;
                                color: $priamry_color;
                                font-size: 18px;
                                line-height: 28.8px;
                            }
                        }
                    }
                }
            }
            .wraper-grid-1{
                position: relative;
                .img-M{
                    width: 37.2%;
                    // position: relative;
                    // left: 62.8%;
                    margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-S{
                    width: 25%;
                    // position: absolute;
                    // left: 0%;
                    // top: 25%;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-L{
                    width: 65%;
                    // position: relative;
                    // left: 35%;
                    margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                max-height: 860px;
                                height:860px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
            }
            .wraper-grid-2{
                position: relative;
                margin-bottom: 14% !important;
                .img-M{
                    width: 37.2%;
                    // position: relative;
                    // left: 62.8%;
                    // margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-S{
                    width: 25%;
                    // position: absolute;
                    // left: 0%;
                    // top: 25%;

                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
                .img-L{
                    width: 65%;
                    // position: relative;
                    // left: 35%;
                    // margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                max-height: 860px;                    
                                height:860px;
                                object-fit: cover;

                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.img-last{
    margin-top: 100px;
    margin-bottom: 120px;
    // margin-top: 20%;
    a{
        text-decoration: none;
        .wrap-img{
            img{
                width: 100%;
                max-height: 900px;
            }
            .text{
                margin-top: 24px;
                .cat{
                    margin-bottom: 0;
                    margin-top: 0;
                    color: $color-cat;
                }
                .name{
                    margin-bottom: 0;
                    margin-top: 0;
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 18px;
                    line-height: 28.8px;
                }
            }
        }
    }
}


// @keyframes fadeInImg {
//     0% {
//         opacity: 0;  
//         transform: scale(.8, 1);
//     }
//     100% {
//         opacity: 1; 
//         transform: scale(1, 1);
//     }
// }

// .fade-in-img-home {
//     opacity: 0;
//     transform: scale(.9, 1);
//     transform-origin: left;
//     transition: opacity .7s ease-out, transform .7s ease-out;
//     transform-origin: left !important;
// }

// .fade-in-img-home.is-inview {
//     opacity: 1;
//     transform: scale(1, 1);
// }

// .img-last.fade-in-img-home,
// .img-1-big.fade-in-img-home {
//     transform-origin: center !important;  /* Transform origin to center for these classes */
// }

.wrap-brick {
    position: relative;
    overflow: hidden; 
}

.cases-home{
    .wrap-img{
        .brick-img {
            img{
                width: 100%; 
                height: auto;
                will-change: transform; 
            }
            .curtain {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -o-transform: translateY(0);
                transition: all cubic-bezier(.47,.15,0,.99) .5s;
                -webkit-transition: all cubic-bezier(.47,.15,0,.99) .5s;
                -moz-transition: all cubic-bezier(.47,.15,0,.99) .5s;
                -o-transition: all cubic-bezier(.47,.15,0,.99) .5s;
            }
            &.is-inview{
                .curtain {
                    transform: translateY(-100%);
                    transition-delay: .5s;
                }
            }
        }
    }
}
