@import 'globals';
@import 'variables';

.footer{
    position: relative;
    margin-top: 40px;
    height: 100vh;
    background-color: $priamry_color;
    display: flex;
    align-items: end;
    &::after{
        content: "";
        background-image: url('../../imgs/union-white.svg');
        display: block; 
        top: 36%;
        left: 21%;
        width: 42px;
        height: 42px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        opacity: 0;
        transition: all ease-in-out .4s;
        transition-delay: .5s;
    }        
    &.is-inview::after{
        opacity: 1;
        transform: rotate(360deg);
    }
    .footer-wraper{
        padding: 0 48px;
        .menus-footer{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $border-col;
            .columns-2{
                width: 20%;
                .wrap-menu-footer{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: end;
                    .menu-footer-main-menu-container{
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            padding: 0;
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: $third_color;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 22.32px;
                                    position: relative;
                                    transition: all ease .3s;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        height: 1px; 
                                        width: 100%;
                                        background-color: $secondary_color; 
                                        transform: scaleX(0); 
                                        transform-origin: left;
                                        transition: transform 0.5s ease-in-out;
                                      }
                                    &:hover{
                                        color: $secondary_color;
                                        transition: all ease .3s;
                                    &::after {
                                        transform: scaleX(1);   
                                        }
                                    }
                                }    
                            }
                        }
                    }
                    .menu-social-menu-container{
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            padding: 0;
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: $third_color;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 22.32px;
                                    transition: all ease .3s;
                                    &:hover{
                                        color: $secondary_color;
                                        transition: all ease .3s;
                                    }
                                    position: relative;
                                    transition: all ease .3s;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        height: 1px; 
                                        width: 100%;
                                        background-color: $secondary_color; 
                                        transform: scaleX(0); 
                                        transform-origin: left;
                                        transition: transform 0.5s ease-in-out;
                                      }
                                    &:hover{
                                        color: $secondary_color;
                                        transition: all ease .3s;
                                    &::after {
                                        transform: scaleX(1);   
                                        }
                                    }
                                }    
                            }
                        }
                    }
                }
            }
            .columns-3{
                width: 30%;
                display: flex;
                align-items: end;
                .address{
                    p{
                        color: $third_color;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22.32px;                   
                    }
                }
                .one-click{
                    p{
                        color: $third_color;
                        color: $third_color;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22.32px;
                    }
                }
            }
        }
        .info-big-banner{
            width: 100%;
            .split-lines{
                p{
                    margin: 0;
                    width: 100%;
                    margin: 0;
                    margin-top: 13px;
                    // color: $footer-info;
                    border-bottom: 1px solid $border-col;
                    opacity: 0;
                    transform: translateY(20px) !important;
                    transition: all ease-out .4s;
                    transition-delay: .5s;
                    &.is-inview{
                        opacity: 1;
                        transform: translateY(0) !important;
                    }
                    a{
                        text-decoration: none;
                        width: 100%;
                        margin: 0;
                        color: $footer-info;
                        font-size: 10vw;
                        font-family: 'Defectica-Regular', sans-serif;
                        font-weight: 400;
                        line-height: 256.68px;
                        text-transform:none;
                        transition: all ease-in-out .3s;
                        &:hover{
                            color: $third_color;
                            transition: all ease-in-out .3s;
                        }
                    }
                }
            }

        }
        .copy-rights{
            margin-top: 28px;
            margin-bottom: 31px;
            display: flex;
            align-items: center;
            .columns-2{
                width: 20%;
                p{
                    margin: 0;
                    color: $secondary_color;
                    opacity: 50%;
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22.32px;
                    transition-delay: .5s;
                    .white{
                        color: $secondary_color !important;
                        opacity: 100% !important;
                        font-weight: 400;
                        transition-delay: .5s;
                    }
                    b{
                        color: $secondary_color !important;
                        opacity: 100% !important;
                        font-weight: 400;
                    }
                }
            }
            .columns-5{
                width: 45%;
                text-align: center;
                p{
                    margin: 0;
                    color: $third_color;
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22.32px;
                    transition-delay: .5s;
                }
            }
            .columns-4{
                width: 15%;
                text-align: end;
                p{
                    margin: 0;
                    transition-delay: .5s;
                    .go-top{
                        color: $third_color;
                        text-transform: uppercase;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22.32px;
                        transition: all ease .3s;
                        text-decoration: none;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 1px; 
                            width: 100%;
                            background-color: $secondary_color; 
                            transform: scaleX(0); 
                            transform-origin: left;
                            transition: transform 0.5s ease-in-out;
                          }
                        &:hover{
                            color: $secondary_color;
                            transition: all ease .3s;
                        &::after {
                            transform: scaleX(1);   
                            }
                        }
                    }
                }
            }
        }
    }
}

.columns-6{
    width: 20%;
    display: flex;
    gap: 4px;
    .gray-text{
        margin: 0;
        color: $secondary_color !important;
        opacity: 50%;
        font-family: 'Aeonik-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22.32px;
        transition-delay: .5s;

    }
    .white{
        color: $secondary_color !important;
        opacity: 100% !important;
        font-weight: 400;
        color: $secondary_color;
        opacity: 50%;
        font-family: 'Aeonik-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22.32px;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        transition-delay: .5s;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px; 
            width: 100%;
            background-color: $secondary_color; 
            transform: scaleX(0); 
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
            }
        &:hover{
            color: $secondary_color;
            transition: all ease .3s;
        &::after {
            transform: scaleX(1);   
            }
        }
    }

}


@keyframes fadeInFooter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.footer-wraper{
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    &.is-inview{
        animation-name: fadeInFooter;
       animation-delay: .3s;
    }
}

.copy-text {
    cursor: none;
    position: relative;
}

.custom-cursor {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: $third_color;
    color: $priamry_color;
    font-family: 'Aeonik-Regular', sans-serif;
    font-weight: 600;
    // font-size: 32px;
    line-height: 22.32px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    pointer-events: none; 
    transition: background-color 0.3s;
    z-index: 1000;
    white-space: nowrap;
}


@media(max-width:1600px) {
    .footer::after {
        content: "";
        top: 25%;
    }
}
@media(max-width:1440px) {
    .footer .footer-wraper .info-big-banner .split-lines p a {
        line-height: 184.68px;
    }
    .footer .footer-wraper .copy-rights .columns-2 {
        width: 30%;
    }
}
@media(max-width:1024px) {
    .footer .footer-wraper .menus-footer .columns-3 .one-click p {
        font-size: 17px;
    }
    .footer .footer-wraper .menus-footer .columns-3 .address p {
        font-size: 17px;
    }
    .footer .footer-wraper .menus-footer .columns-2 .wrap-menu-footer .menu-footer-main-menu-container ul li a {
        font-size: 17px;
    }
    .footer .footer-wraper .menus-footer .columns-2 .wrap-menu-footer .menu-social-menu-container ul li a {
        font-size: 17px;
    }
    .footer .footer-wraper .copy-rights .columns-2 p {
        font-size: 17px;
    }
    .columns-6 .gray-text {
        font-size: 17px;
    }
    .footer .footer-wraper .copy-rights .columns-5 p {
        font-size: 17px;
    }
    .footer .footer-wraper .copy-rights .columns-4 p .go-top {
        font-size: 17px;
    }
}
.footer-mobile{
    display: none;
}
@media(max-width:992px){

    .footer .footer-wraper {
        padding: 0px 16px;
    }
}
@media(max-width:768px) {
.footer{
    display: none;
}
.footer-mobile{
    display: block;
    height: 100vh;
    background-color: $priamry_color;
    .footer-mobile-wrap{
            height: 100%;
            display: flex;
            flex-direction: column;
            
            justify-content: center;
        .intro-wrap{
            padding-top: 10%;
            h5{
                font-family: 'Aeonik-Regular', sans-serif;
                font-weight: 400;
                font-size: 24px;
                line-height: 29.32px;
                color: $third_color;
                margin: 0;
                text-align: center;
            }
            p{
                font-family: 'Aeonik-Regular', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 19.32px;
                color: $third_color;
                opacity: 80%;
                text-align: center;
                padding: 0px 20px;
                margin: 0;
                margin-top: 16px;
    
            }
        }
        .info-big-banner{
            .split-lines{
                p{
                    font-family: 'Defectica-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 42px;
                    line-height: 44.32px;
                    color: $third_color;
                    text-align: center;
                    margin-bottom: 16px;
                    .copy-text{

                    }
                }
            }
        }
        .columns-3{
            .address{
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.32px;
                    color: $third_color;
                    opacity: 50%;
                    text-align: center;
                }
            }
        }
        .wrap-foot-menu{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 58px;
            border: 1px solid $border-col;
            border-left: none;
            border-right: none;
            margin: 0 5%;
            margin-top: 10%;
            position: relative;
            &::after{
                content: "";
                background-image: url('../../imgs/union-white.svg');
                display: block;
                bottom: 90%;
                left: 50%;
                transform: translateX(-50%);
                width: 42px;
                height: 42px;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 2;
                opacity: 1;
                transition: all ease-in-out .4s;
                transition-delay: .5s;
            }        
            .columns-2{
                .wrap-menu-footer{
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding: 0;
                        margin: 24px 0px;
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                                color: $third_color;
                                font-family: 'Aeonik-Regular', sans-serif;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22.32px;
                                position: relative;
                                transition: all ease .3s;
                            }
                            }
                         }
                }
            }
        }
        .copy-rights{
            margin-top: 15%;
            text-align: center;
            .columns-2{
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22.32px;
                    color: $third_color;
                    opacity: 50%;
                    margin-bottom: 8px;
                    margin-top: 0;
                }
            }
            .columns-6{
                width: 100%;
                display: flex;
                gap: 4px;
                justify-content: center;
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22.32px;
                    a{

                    }
                }
            }
        }
    }
}

}
@media(max-width:425px){
    .footer-mobile .footer-mobile-wrap .intro-wrap {
        padding-top: 25%;
    }
    .footer-mobile .footer-mobile-wrap .info-big-banner .split-lines p {
        font-size: 36px;
        line-height: 40.32px;
    }
}






