
@import 'variables';
//aeonik
$Aeonik-bold: 'Aeonik-Bold';
$Aeonik-Regular: 'Aeonik-Regular';
@font-face {
    font-family: $Aeonik-bold;
    src: url('../../resoursces/fonts/Aeonik/Aeonik-Bold.ttf')  format('truetype');

}
@font-face {
    font-family: $Aeonik-Regular;
    src: url('../../resoursces/fonts/Aeonik/Aeonik-Regular.ttf')  format('truetype');
}

.h1-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 60px;
    line-height: 120%;
}
.h2-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 40px;
    line-height: 160%;
}
.bodyM-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 22px;
    line-height: 140%;
}
.bodyS-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 16px;
    line-height: 140%;
}
.captions-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 16px;
    line-height: 140%;
}
.details-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 14px;
    line-height: 150%;
}
.numbers-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 120px;
    line-height: 87%;
}

//defectica
$Defectica-Regular: 'Defectica-Regular';
@font-face {
    font-family: $Defectica-Regular;
    src: url('../../resoursces/fonts/Defectica/Defectica.otf') format('opentype');
}

.h1{
    font-family: 'Defectica-Regular', sans-serif;
    font-size: 117px;
    line-height: 124%;
}
.h2{
    font-family: 'Defectica-Regular', sans-serif;
    font-size: 60px;
    line-height: 124%;
}
.numbers-D{
    font-family: 'Defectica-Regular', sans-serif;
    font-size: 190px;
    line-height: 87%;
}
.cookies-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 14px;
    line-height: 124%;
}
.bodyM-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 36px;
    line-height: 120%;
}
.bodyS-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
}
.captions-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
}

.red{
    color: red !important;
    // font-family: 'Defectica-Regular', sans-serif;
    // font-size: 68px;
    // font-weight: 900;
}

//Switzer
$Switzer-bold: 'Switzer-Bold';
$Switzer-Regular: 'Switzer-Regular';
$Switzer-SemiBold: 'Switzer-SemiBold';
$Switzer-Thin: 'Switzer-Thin';
$Switzer-Medium: 'Switzer-Medium';
@font-face {
    font-family: $Switzer-bold;
    src: url('../../resoursces/fonts/Switzer/Switzer-Bold.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-Regular;
    src: url('../../resoursces/fonts/Switzer/Switzer-Regular.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-SemiBold;
    src: url('../../resoursces/fonts/Switzer/Switzer-Semibold.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-Thin;
    src: url('../../resoursces/fonts/Switzer/Switzer-Thin.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-Medium;
    src: url('../../resoursces/fonts/Switzer/Switzer-Medium.otf') format('opentype');
}

//positioning 

.left{
    position: absolute;
    left: 0%;
    top: 25%;
}
.middle{
    position: relative;
    left: 35%;
}

.right{
    position: relative;
    left: 62.8%;
    margin-bottom: 140px;
}

.left2{
    position: relative;
    left: 0%;
    top: 0%;
}
.middle2{
    position: relative;
    left: 35%;
    margin-top: 17%;
}

.right2{
    // padding-top: 20%;
    position: absolute;
    top: 10%;
    left: 62.8%;
    // margin-bottom: 140px;
}
.left3{
    position: absolute;
    left: 0%;
    /* top: 0%; */
    top: 75%;
}

.right-M-2{
    position: absolute;
    top: 25%;
    left: 62.8%;
}

.no-prev{
    justify-content: end !important;
    text-align: end;
}

.brick-img {
    img{
        width: 100%; 
        height: auto;
        will-change: transform; 
    }
    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transition: all cubic-bezier(.12,.41,.11,.9) .5s;
        -webkit-transition: all cubic-bezier(.12,.41,.11,.9) .5s;
        -moz-transition: all cubic-bezier(.12, .41, .11, .9) .5s;
        -o-transition: all cubic-bezier(.12, .41, .11, .9) .5s;
    }
    &.is-inview{
        .curtain {
            transform: translateY(-100%);
            transition-delay: .5s;
        }
    }
}

.split-lines{
    display: block;
    position: relative;
    overflow: hidden;
    h1{
        transform: translate(0px, 100%);
        transition: all ease-in-out .6s;
        transition-delay: .4s;
        &.is-inview{
            transform: translate(0px, 0%);
        }
    }
    h2{
        transform: translate(0px, 100%);
        transition: all ease-in-out .6s;
        transition-delay: .4s;
        &.is-inview{
            transform: translate(0px, 0%);
        }
    }
    h3{
        transform: translate(0px, 100%);
        transition: all ease-in-out .6s;
        transition-delay: .4s;
        &.is-inview{
            transform: translate(0px, 0%);
        }
    }
    p{
        transform: translate(0px, 100%);
        transition: all ease-in-out .6s;
        transition-delay: .4s;
        &.is-inview{
            transform: translate(0px, 0%) !important;
        }
    }
    .scroll{
        transform: translate(0px, 100%);
        transition: all ease-in-out .6s;
        transition-delay: 1s;
        &.is-inview{
            transform: translate(0px, 0%) ;
        }
    }
}

.wraper-lines{
    display: flex;
    gap: 20px;
    .split-lines{
        display: block;
        position: relative;
        overflow: hidden;
        .word-1{
            transform: translate(0px, 100%);
            transition: all ease-in-out .6s;
            transition-delay: .4s;
            &.is-inview{
                transform: translate(0px, 0%);
            }
        }
        .word-2{
            transform: translate(0px, 100%);
            transition: all ease-in-out .6s;
            transition-delay: .7s;
            &.is-inview{
                transform: translate(0px, 0%);
            }
        }
    }
}
p{
    opacity: 0;
    transform: translateY(20px);
    transition: all ease-out .4s;
    transition-delay: .3s;
    &.is-inview{
        opacity: 1;
        transform: translateY(0);
    }
}
h5{
    opacity: 0;
    transform: translateY(20px);
    transition: all ease-out .4s;
    transition-delay: .3s;
    &.is-inview{
        opacity: 1;
        transform: translateY(0);
    }
}
.white{
    opacity: 0;
    transform: translateY(20px);
    transition: all ease-out .4s;
    transition-delay: .3s;
    &.is-inview{
        opacity: 1;
        transform: translateY(0);
    }
}
