@import 'variables';
//aeonik
$Aeonik-bold: 'Aeonik-Bold';
$Aeonik-Regular: 'Aeonik-Regular';
@font-face {
    font-family: $Aeonik-bold;
    src: url('../../resoursces/fonts/Aeonik/Aeonik-Bold.ttf')  format('truetype');

}
@font-face {
    font-family: $Aeonik-Regular;
    src: url('../../resoursces/fonts/Aeonik/Aeonik-Regular.ttf')  format('truetype');
}

.h1-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 60px;
    line-height: 120%;
}
.h2-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 40px;
    line-height: 160%;
}
.bodyM-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 22px;
    line-height: 140%;
}
.bodyS-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 16px;
    line-height: 140%;
}
.captions-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 16px;
    line-height: 140%;
}
.details-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 14px;
    line-height: 150%;
}
.numbers-A{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 120px;
    line-height: 87%;
}

//defectica
$Defectica-Regular: 'Defectica-Regular';
@font-face {
    font-family: $Defectica-Regular;
    src: url('../../resoursces/fonts/Defectica/Defectica.otf') format('opentype');
}

.h1{
    font-family: 'Defectica-Regular', sans-serif;
    font-size: 117px;
    line-height: 124%;
}
.h2{
    font-family: 'Defectica-Regular', sans-serif;
    font-size: 60px;
    line-height: 124%;
}
.numbers-D{
    font-family: 'Defectica-Regular', sans-serif;
    font-size: 190px;
    line-height: 87%;
}
.cookies-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 14px;
    line-height: 124%;
}
.bodyM-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 36px;
    line-height: 120%;
}
.bodyS-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
}
.captions-D{
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
}

.red{
    color: red !important;
    // font-family: 'Defectica-Regular', sans-serif;
    // font-size: 68px;
    // font-weight: 900;
}

//Switzer
$Switzer-bold: 'Switzer-Bold';
$Switzer-Regular: 'Switzer-Regular';
$Switzer-SemiBold: 'Switzer-SemiBold';
$Switzer-Thin: 'Switzer-Thin';
$Switzer-Medium: 'Switzer-Medium';
@font-face {
    font-family: $Switzer-bold;
    src: url('../../resoursces/fonts/Switzer/Switzer-Bold.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-Regular;
    src: url('../../resoursces/fonts/Switzer/Switzer-Regular.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-SemiBold;
    src: url('../../resoursces/fonts/Switzer/Switzer-Semibold.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-Thin;
    src: url('../../resoursces/fonts/Switzer/Switzer-Thin.otf') format('opentype');
}
@font-face {
    font-family: $Switzer-Medium;
    src: url('../../resoursces/fonts/Switzer/Switzer-Medium.otf') format('opentype');
}

//positioning 

.left{
    position: absolute;
    left: 0%;
    top: 25%;
}
.middle{
    position: relative;
    left: 35%;
}

.right{
    position: relative;
    left: 62.8%;
    margin-bottom: 140px;
}

.left2{
    position: relative;
    left: 0%;
    top: 0%;
}
.middle2{
    position: relative;
    left: 35%;
    margin-top: 17%;
}

.right2{
    // padding-top: 20%;
    position: absolute;
    top: 10%;
    left: 62.8%;
    // margin-bottom: 140px;
}
.left3{
    position: absolute;
    left: 0%;
    /* top: 0%; */
    top: 75%;
}

.right-M-2{
    position: absolute;
    top: 25%;
    left: 62.8%;
}

.no-prev{
    justify-content: end !important;
    text-align: end;
}