@import 'globals';
@import 'variables';

.home{
    .header{
        min-height: 40px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 3;
        transition: transform 0.5s ease-out;
        padding-top: 12px;
        padding-bottom: 12px;
        &.hidden {
            transform: translateY(-200%);
        }
        &.scrolled-up {
            background-color:$third_color; 
        }
        .header-wrpaper{
            padding: 0 $s6;
            .inside-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .mob-menu{
                    display: none;
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 38.32px;
                    color: $priamry_color;
                    margin: 0;
                    list-style: none;
                    button{
                        border: none;
                        background: none;
                        cursor: pointer;
                    }
                }
                .img-logo-wrap{
                    li{
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 38.32px;
                        color: $priamry_color;
                        margin: 0;
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: $third_color;
                        }
                       
                    }
                }
                .nav {
                    .menu-main-menu-container {
                        .menu {
                            margin: 0;
                            display: flex;
                            align-items: center;
                            gap: 56px;
                
                            li {
                                list-style: none;
                
                                a {
                                    position: relative;
                                    text-decoration: none;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    text-transform: uppercase;
                                    font-weight: 400;
                                    font-size: 23px;
                                    line-height: 38.8px;
                                    color: $third_color;
                                    transition: all ease 0.3s;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        bottom: -2px; 
                                        height: 2px; 
                                        width: 100%;
                                        background-color: $third_color;
                                        transform: scaleX(0); 
                                        transform-origin: left;
                                        transition: transform 0.3s ease-in-out;
                                    }
                
                                    &:hover::after,
                                    &.current-menu-item::after {
                                        transform: scaleX(1); 
                                    }
                                    &[aria-current="page"]::after {
                                        transform: scaleX(1); 
                                    }
                
                                    &[aria-current="page"] {
                                        color: $third_color; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.overlay-loader{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $priamry_color;
    z-index: 4;
    transition: opacity 0.4s ease;
    overflow-y: hidden;
    overflow-x: hidden;
    .loader{
        padding: 0 48px;
        height: 100%;
        width: 100%;
        .inside-loader{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;
            width: 100%;
            .loading-process{
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28.8px;
                    color: $third_color;
                }
            }
            .wrap-text{
                display: flex;
                flex-direction: column;
                gap: 12px;
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28.8px;
                    color: $third_color;
                    margin: 0;
                    margin-bottom: 22px;
                    opacity: 1;
                }
                h3{
                    font-family: 'Defectica-Regular', sans-serif;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 52px;
                    line-height: 28.8px;
                    color: $third_color;
                    margin: 0;
                }
            }
        }
    }
}
.loader-next-page{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $priamry_color;
    z-index: 4;
    transition: opacity 0.4s ease;
    overflow-y: hidden;
    overflow-x: hidden;
    .loader{
        padding: 0 48px;
        height: 100%;
        width: 100%;
        .inside-loader{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;
            width: 100%;
            .loading-process{
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28.8px;
                    color: $third_color;
                }
            }
            .wrap-text{
                display: flex;
                flex-direction: column;
                gap: 12px;
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28.8px;
                    color: $third_color;
                    margin: 0;
                    margin-bottom: 22px;
                    opacity: 1;
                }
                h3{
                    font-family: 'Defectica-Regular', sans-serif;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 52px;
                    line-height: 28.8px;
                    color: $third_color;
                    margin: 0;
                }
            }
        }
    }
}
.show {
    display: flex; 
    opacity: 1; 
    transition: opacity 0.4s ease;
}
@keyframes fadeInHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header {
    opacity: 0;
    animation-name: fadeInHeader;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.fade-in-header{
    animation-name: fadeInHeader;
    animation-delay: 1.1s;
}
.header-mobile{
    display: none;
}
.home{
    header{
        &.scrolled-up{
            .header-wrpaper .inside-header .img-logo-wrap li a {
                color: $priamry_color;
            }
            .header-wrpaper{
                .inside-header{
                    .nav {
                        .menu-main-menu-container {
                            .menu {
                                li {
                                    a {
                                        color: $priamry_color;
                                        &::after {
                                            background-color: $priamry_color;
                                        }
                    
                                        &:hover::after,
                                        &.current-menu-item::after {
                                        }
                                        &[aria-current="page"]::after {
                                        }
                    
                                        &[aria-current="page"] {
                                            color: $priamry_color; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}
.header{
    &.scrolled-up{
        .header-wrpaper .inside-header .img-logo-wrap li a {
            color: $priamry_color;
        }
        .header-wrpaper{
            .inside-header{
                .nav {
                    .menu-main-menu-container {
                        .menu {
                            li {
                                a {
                                    color: $priamry_color;
                                    &::after {
                                        background-color: $priamry_color;
                                    }
                
                                    &:hover::after,
                                    &.current-menu-item::after {
                                    }
                                    &[aria-current="page"]::after {
                                    }
                
                                    &[aria-current="page"] {
                                        color: $priamry_color; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}

.header{
    min-height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 3;
    transition: transform 0.5s ease-out;
    padding-top: 12px;
    padding-bottom: 12px;
    &.hidden {
        transform: translateY(-200%);
    }
    &.scrolled-up {
        background-color:$third_color; 
    }
    .header-wrpaper{
        padding: 0 $s6;
        .inside-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mob-menu{
                display: none;
                font-family: 'Aeonik-Regular', sans-serif;
                font-weight: 400;
                font-size: 24px;
                line-height: 38.32px;
                color: $priamry_color;
                margin: 0;
                list-style: none;
                button{
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }
            .img-logo-wrap{
                li{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 38.32px;
                    color: $priamry_color;
                    margin: 0;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: $priamry_color;
                    }
                   
                }
            }
            .nav {
                .menu-main-menu-container {
                    .menu {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 56px;
            
                        li {
                            list-style: none;
            
                            a {
                                position: relative;
                                text-decoration: none;
                                font-family: 'Aeonik-Regular', sans-serif;
                                text-transform: uppercase;
                                font-weight: 400;
                                font-size: 23px;
                                line-height: 38.8px;
                                color: $priamry_color;
                                transition: all ease 0.3s;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    bottom: -2px; 
                                    height: 2px; 
                                    width: 100%;
                                    background-color: $priamry_color;
                                    transform: scaleX(0); 
                                    transform-origin: left;
                                    transition: transform 0.3s ease-in-out;
                                }
            
                                &:hover::after,
                                &.current-menu-item::after {
                                    transform: scaleX(1); 
                                }
                                &[aria-current="page"]::after {
                                    transform: scaleX(1); 
                                }
            
                                &[aria-current="page"] {
                                    color: $priamry_color; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .overlay-loader .loader {
        padding: 0 16px;
    }
    .overlay-loader .loader .inside-loader .wrap-text h3 {
        font-size: 40px;
        line-height: 40.8px;
    }
    .loader-next-page .loader {
        padding: 0 16px;
    }
    .loader-next-page .loader .inside-loader .wrap-text h3 {
        font-size: 36px;
        line-height: 36.8px;
    }
    .home{
        .nav {
            display: none;
        }
    
        .header .header-wrpaper {
            padding: 0 16px;
        }
    
        .header .header-wrpaper .inside-header .mob-menu {
            display: block;
    
            button {
                font-family: 'Aeonik-Regular', sans-serif;
                font-weight: 400;
                font-size: 24px;
                line-height: 38.32px;
                color: $third_color;
                margin: 0;
                list-style: none;
            }
        }
        .header{
            &.scrolled-up{
                .header-wrpaper .inside-header .mob-menu{
                    button {
                        color: $priamry_color;
                    }
                }
            }
        }
    
        .header-mobile {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; 
            width: 100%;
            height: 100vh;
            background-color: $priamry_color;
            z-index: 9999; 
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            .wrap-mobile-header{
                padding: 0 16px;
                .inside-mobile-header{
                    transition: all ease-in-out .3s;
                    .top-section{
                        padding-top: 16px;
                        padding-bottom: 15%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 38.32px;
                            color: $third_color;
                            margin: 0;
                            opacity: 1;
                            transform: translate(0);
                            a{
                                text-decoration: none;
                                color: $third_color;
                            }
                        }
                        .close-btn {
                            position: relative;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            &:before,
                            &:after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 30px;
                                height: 2px;
                                background-color: $third_color;
                                opacity: 80%;
                                transform-origin: center;
                            }
                            &:before {
                                transform: translate(-50%, -50%) rotate(45deg); 
                            }
                            
                            &:after {
                                transform: translate(-50%, -50%) rotate(-45deg); 
                            }
                        }
    
                    }
                    .inside-header{
                        padding-left: 16px;
                        padding-top: 10%;
                        padding-bottom: 20%;
                        border-top: 1px solid $border-col;
                        border-bottom: 1px solid $border-col;
                        position: relative;
                        &.is-inview{
                            &::after{
                                opacity: 1;
                            }
                        }
                        &::after{
                            content: "";
                            background-image: url('../../imgs/union-white.svg');
                            display: block;
                            bottom: 96.6%;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 42px;
                            height: 42px;
                            position: absolute;
                            background-size: contain;
                            background-repeat: no-repeat;
                            z-index: 2;
                            opacity: 0;
                            transition: all ease-in-out .4s;
                            transition-delay: .3s;
                        }
                            a{
                                position: relative;
                                text-decoration: none;
                                font-family: 'Defectica-Regular', sans-serif;
                                text-transform: uppercase;
                                font-weight: 400;
                                font-size: 48px;
                                line-height: 59.8px;
                                color: $third_color;
                                transition: all ease 0.3s;
                            }
                        .nav-mob{
                            .menu-main-menu-container {
                                .menu {
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 22px;
                                    margin-top: 22px;
                                    padding: 0;
                                    li {
                                        list-style: none;
                                        opacity: 0;
                                        transition: all ease-in-out .3s;
                                        transform: translateY(20px);
                                        &:nth-child(1){
                                            transition-delay: .5s;
                                        }
                                        &:nth-child(2){
                                            transition-delay: .6s;

                                        }
                                        &:nth-child(3){
                                            transition-delay: .7s;

                                        }
                                        &.is-inview{
                                            opacity: 1;
                                            transform: translateY(0);
                                        }
                                        a {
                                            position: relative;
                                            text-decoration: none;
                                            font-family: 'Defectica-Regular', sans-serif;
                                            text-transform: uppercase;
                                            font-weight: 400;
                                            font-size: 48px;
                                            line-height: 59.8px;
                                            color: $third_color;
                                            opacity: 50%;
                                            transition: all ease 0.3s;
                                            &:hover{
                                                opacity: 100%;
                                            }
                                            &[aria-current="page"] {
                                                color: $third_color;
                                                opacity: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .columns-2{
                        width: 100%;
                        padding-top: 5%;
                        opacity: 0;
                        transition: all ease-in-out .3s;
                        transform: translateY(50px);
                        transition-delay: .8s;
                        &.is-inview{
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        .wrap-menu-footer{
                            display: flex;
                            width: 100%;
                            height: 100%;
                            align-items: end;
                            justify-content: center;
                            .menu-social-menu-container{
                                max-width: 270px;
                                ul{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    gap: 10px;
                                    padding: 0;
                                    justify-content: center;
                                    li{
                                        list-style: disc;
                                        color: $third_color;
                                        margin-right: 15px;
                                        &:first-child{
                                            list-style: none;
                                        }
                                        a{
                                            text-decoration: none;
                                            color: $third_color;
                                            font-family: 'Aeonik-Regular', sans-serif;
                                            font-weight: 400;
                                            font-size: 18px;
                                            line-height: 22.32px;
                                            transition: all ease .3s;
                                        }    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .header-mobile.active {
            transform: translateX(0); 
        }
        body.menu-active {
            overflow: hidden;
        }
    }
    .nav {
        display: none;
    }

    .header .header-wrpaper {
        padding: 0 16px;
    }

    .header .header-wrpaper .inside-header .mob-menu {
        display: block;

        button {
            font-family: 'Aeonik-Regular', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 38.32px;
            color: $priamry_color;
            margin: 0;
            list-style: none;
        }
    }
    .header{
        &.scrolled-up{
            .header-wrpaper .inside-header .mob-menu{
                button {
                    color: $priamry_color;
                }
            }
        }
    }

    .header-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        width: 100%;
        height: 100vh;
        background-color: $priamry_color;
        z-index: 9999; 
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        .wrap-mobile-header{
            padding: 0 16px;
            .inside-mobile-header{
                .top-section{
                    padding-top: 16px;
                    padding-bottom: 15%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 38.32px;
                        color: $third_color;
                        margin: 0;
                        opacity: 1;
                        transform: translate(0);
                        a{
                            text-decoration: none;
                            color: $third_color;
                        }
                    }
                    .close-btn {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 30px;
                            height: 2px;
                            background-color: $third_color;
                            opacity: 80%;
                            transform-origin: center;
                        }
                        &:before {
                            transform: translate(-50%, -50%) rotate(45deg); 
                        }
                        
                        &:after {
                            transform: translate(-50%, -50%) rotate(-45deg); 
                        }
                    }

                }
                .inside-header{
                    padding-left: 16px;
                    padding-top: 10%;
                    padding-bottom: 20%;
                    border-top: 1px solid $border-col;
                    border-bottom: 1px solid $border-col;
                    position: relative;
                    &::after{
                        content: "";
                        background-image: url('../../imgs/union-white.svg');
                        display: block;
                        bottom: 96.6%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                        z-index: 2;
                        opacity: 1;
                        transition: all ease-in-out .4s;
                        transition-delay: .5s;
                    }  
                        a{
                            position: relative;
                            text-decoration: none;
                            font-family: 'Defectica-Regular', sans-serif;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 48px;
                            line-height: 59.8px;
                            color: $third_color;
                            transition: all ease 0.3s;
                        }
                    .nav-mob{
                        .menu-main-menu-container {
                            .menu {
                                margin: 0;
                                display: flex;
                                flex-direction: column;
                                gap: 22px;
                                margin-top: 22px;
                                padding: 0;
                                li {
                                    list-style: none;
                    
                                    a {
                                        position: relative;
                                        text-decoration: none;
                                        font-family: 'Defectica-Regular', sans-serif;
                                        text-transform: uppercase;
                                        font-weight: 400;
                                        font-size: 48px;
                                        line-height: 59.8px;
                                        color: $third_color;
                                        opacity: 50%;
                                        transition: all ease 0.3s;
                                        &:hover{
                                            opacity: 100%;
                                        }
                                        &[aria-current="page"] {
                                            color: $third_color;
                                            opacity: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .columns-2{
                    width: 100%;
                    padding-top: 5%;
                    .wrap-menu-footer{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: end;
                        justify-content: center;
                        .menu-social-menu-container{
                            max-width: 270px;
                            ul{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                gap: 10px;
                                padding: 0;
                                justify-content: center;
                                li{
                                    list-style: disc;
                                    color: $third_color;
                                    margin-right: 15px;
                                    &:first-child{
                                        list-style: none;
                                    }
                                    a{
                                        text-decoration: none;
                                        color: $third_color;
                                        font-family: 'Aeonik-Regular', sans-serif;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 22.32px;
                                        transition: all ease .3s;
                                    }    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-mobile.active {
        transform: translateX(0); 
    }
    body.menu-active {
        overflow: hidden;
    }
}
@media (max-width: 500px) {
    .home{
        .header-mobile .wrap-mobile-header .inside-mobile-header .inside-header {
            padding-top: 20%;
            padding-bottom: 50%;
        }
    }
    .header-mobile .wrap-mobile-header .inside-mobile-header .inside-header {
        padding-top: 20%;
        padding-bottom: 50%;
    }

}
