@import 'globals';
@import 'variables';

.banner{
    // margin-top: 1%;
    width: 100%;
    height: calc(125vh - 84px);
    .inside-banner{
        padding: 0 48px;
        height: 100%;
        .wraper-banner{
            height: 100%;
            display: flex;
            flex-direction: column;
            .wraper-img-banner{
                display: flex;
                justify-content: space-between;
                position: relative;
                height: 56%;
                .brick-0{
                    width: 25%;
                    transition: all cubic-bezier(.12,.41,.11,.9) .5s;
                    .above-img-brick-0{
                        width: 100%;
                        height: 100%;
                        .img-1-home{
                            width: 291px;
                            height: 350px;
                            object-fit: cover;
                            position: absolute;
                            top: 20%;
                        }
                        .curtain {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            transform: translateY(0);
                            -webkit-transform: translateY(0);
                            -moz-transform: translateY(0);
                            -o-transform: translateY(0);
                            transition: all cubic-bezier(.12,.41,.11,.9) .6s;
                            -webkit-transition: all cubic-bezier(.12,.41,.11,.9) .6s;
                            -moz-transition: all cubic-bezier(.12, .41, .11, .9) .6s;
                            -o-transition: all cubic-bezier(.12, .41, .11, .9) .6s;
                        }
                        &.is-inview{
                            .curtain {
                                transform: translateY(-100%);
                                transition-delay: .8s;
                            }
                        }
                        
                    } 
                }
                .brick-1{
                    width: 46%;
                    position: relative;
                    .above-img-brick-1{
                        width: 100%;
                        height: 100%;
                        &.is-inview{
                            .curtain {
                                transform: translateY(-100%);
                                transition-delay: .8s;
                            }
                        }
                        .img-2-home{
                            width: 600px;
                            height: 550px;
                            object-fit: cover;
                            position: absolute;
                            top: 0%;
                            left: 15%;   
                        }
                        .curtain{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            transform: translateY(0);
                            -webkit-transform: translateY(0);
                            -moz-transform: translateY(0);
                            -o-transform: translateY(0);
                            transition: all cubic-bezier(.12,.41,.11,.9) .6s;
                            -webkit-transition: all cubic-bezier(.12,.41,.11,.9) .6s;
                            -moz-transition: all cubic-bezier(.12, .41, .11, .9) .6s;
                            -o-transition: all cubic-bezier(.12, .41, .11, .9) .6s;
                        }
                    }
                }
                .brick-2{
                    width: 25%;
                    position: relative;
                    .above-img-brick-2{
                        width: 100%;
                        height: 100%;
                        &.is-inview{
                            .curtain {
                                transform: translateY(-100%);
                                transition-delay: .8s;
                            }
                        }
                        .img-3-home{
                            width: 292px;
                            height: 350px;
                            object-fit: cover;
                            position: absolute;
                            top: 50%;
                            right: 0;
                        }
                        .curtain {
                            position: absolute;
                                top: 15%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: #fff;
                                transform: translateY(0);
                                -webkit-transform: translateY(0);
                                -moz-transform: translateY(0);
                                -o-transform: translateY(0);
                                transition: all cubic-bezier(.12,.41,.11,.9) .6s;
                                -webkit-transition: all cubic-bezier(.12,.41,.11,.9) .6s;
                                -moz-transition: all cubic-bezier(.12, .41, .11, .9) .6s;
                                -o-transition: all cubic-bezier(.12, .41, .11, .9) .6s;
                        }
                    }
                }
            }
            .wraper-content-banner{
                height: 50%;
                position: relative;
                &::before{
                    content: "";
                    background-image: url('../../imgs/black-union.svg');
                    display: block; 
                    top: 43%;
                    left: 0;
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 2;
                    opacity: 0;
                    transition: all ease-in-out .4s;
                    transition-delay: 1s;
                }
                &.is-inview::before{
                    opacity: 1;
                    transform: rotate(360deg);
                }
                    .title-1{
                        font-family: 'Defectica-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 177px;
                        line-height:212.4px;
                        color: $priamry_color;
                        margin-top: 0;
                        margin-bottom: 0;
                        position: relative;
                        transition-delay: 1s;
                        &::after{
                            content: "";
                            background-image: url('../../imgs/hypon.svg');
                            display: block; 
                            top: 40%;
                            right: 26%;       
                            width: 220px;
                            height: 13px;
                            position: absolute;
                            background-size: contain;
                            background-repeat: no-repeat;
                            z-index: 2;
                        }

                    }
                    .split-lines{
                        .break-text{
                            margin: 0;
                            font-family: 'Defectica-Regular', sans-serif;
                            font-weight: 400;
                            font-size: 177px;
                            line-height:200.0px;
                            color: $priamry_color;
                            width: 100%;
                            display: block;
                            text-align: end;
                            transition-delay: 1.2s;
                        }
                    }
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height:25.2px;
                    color: $priamry_color;
                    text-align: left;
                    max-width: 744px;
                    margin: auto;
                    margin-top:0;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// @keyframes fadeInLeft {
//     0% {
//         opacity: 0;
//         transform: translateX(300%);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// @keyframes fadeInRight {
//     0% {
//         opacity: 0;
//         transform: translateX(-300%);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// @keyframes fadeInText {
//     0% {
//         opacity: 0;
//         transform: translateY(10%);
//     }
//     35%{
//         opacity: 1;
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// .fade-in-right{
//     opacity: 0;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;
// }
// .fade-in-left{
//     opacity: 0;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;
// }
// .fade-in-text{
//     opacity: 0;
//     animation-duration: .9s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;
// }

// .fade-in-left {
//     animation-name: fadeInLeft;
//     animation-delay: 1.8s;
// }

// .fade-in-right {
//     animation-name: fadeInRight;
//     animation-delay: 1.8s;
// }

// .fade-in-text {
//     animation-name: fadeInText;
//     animation-delay: 2.6s;
// }

.brick-0 , .brick-1 , .brick-2s{
    position: relative;
    overflow: hidden;
}

.above-img-brick-0 ,
.above-img-brick-1 ,
.above-img-brick-2 {
    position: relative;
    will-change: transform;
}

.above-img-brick-0 img,
.above-img-brick-1 img,
.above-img-brick-2 img {
    width: 100%;
    height: auto;
    display: block;
    will-change: transform;
}