@import 'globals';
@import 'variables';

.banner{
    margin-top: 20px;
    width: 100%;
    height: calc(120vh - 84px);
    .inside-banner{
        padding: 0 48px;
        height: 100%;
        .wraper-banner{
            height: 100%;
            display: flex;
            flex-direction: column;
            .wraper-img-banner{
                display: flex;
                justify-content: space-between;
                position: relative;
                height: 60%;
                .img-div-wrap{
                    width: 100%;
                    opacity: 0;
                    transition: all ease-out 1.2s;
                    transform: translate(0%, -100%);
                    transition-delay: .3s;
                    &.is-inview{
                        opacity: 1;
                        transform: translate(0%, 0%);
                    }
                    .img-1-home{
                        transition: all ease-out 1s;
                        transition-delay: 1.8s;
                        width: 600px;
                        height: 551px;
                        object-fit: cover;
                        position: absolute;
                        top: 42%;
                        left: 50%;
                        transform: translate(-50%, -46%) scale(.8);
                        &.fade-in-up{
                            transform: translate(-50%, -46%) scale(1);
                        }
                    }
                }
                .img-2-home{
                    width: 291px;
                    height: 350px;
                    object-fit: cover;
                    position: absolute;
                    top: 40px;
                }
                .img-3-home{
                    width: 292px;
                    height: 350px;
                    object-fit: cover;
                    position: absolute;
                    top: 245px;
                    right: 0;
                }
            }
            .wraper-content-banner{
                height: 50%;
                h1{
                    font-family: 'Defectica-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 177px;
                    line-height:212.4px;
                    color: $priamry_color;
                    margin-top: 0;
                    margin-bottom: 0;
                    position: relative;
                    &::before{
                        content: "";
                        background-image: url('../../imgs/black-union.svg');
                        display: block; 
                        top: 43%;
                        left: 0;
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                        z-index: 2;
                    }
                    &::after{
                        content: "";
                        background-image: url('../../imgs/hypon.svg');
                        display: block; 
                        top: 21%;
                        right: 26%;       
                        width: 220px;
                        height: 13px;
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                        z-index: 2;
                    }
                    .break-text{
                        font-family: 'Defectica-Regular', sans-serif;
                        font-weight: 400;
                        font-size: 177px;
                        line-height:212.4px;
                        color: $priamry_color;
                        width: 100%;
                        display: block;
                        text-align: end;
                    }
                }
                p{
                    font-family: 'Aeonik-Regular', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height:25.2px;
                    color: $priamry_color;
                    text-align: left;
                    max-width: 744px;
                    margin: auto;
                    margin-top:0;
                    margin-bottom: 0;
                    
                }
            }
        }
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(300%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    35%{
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right{
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.fade-in-left{
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.fade-in-text{
    opacity: 0;
    animation-duration: .9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.fade-in-left {
    animation-name: fadeInLeft;
    animation-delay: 1.8s;
}

.fade-in-right {
    animation-name: fadeInRight;
    animation-delay: 1.8s;
}

.fade-in-text {
    animation-name: fadeInText;
    animation-delay: 2.6s;
}

