@import 'globals';
@import 'variables';

// .banner1{
//     margin-top: 5%;
// }
.filter-section{
    margin-bottom: 5%;
    .wraper-filter{
        .inside-banner{
            padding: 0 48px;
            height: 100%;
            .filter{
                position: relative;
                max-width: 85%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &::after{
                    content: "";
                    background-image: url('../../imgs/black-union.svg');
                    display: block;
                    top: 50%;
                    left: 45%;
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 2;
                    transform: translate(-65%, -50%);
                    opacity: 0;
                    transition: all ease-in-out .4s;
                    transition-delay: .6s;
                }        
                &.is-inview::after{
                    opacity: 1;
                    transform: translate(-65%, -50%) rotate(360deg);
                }

                h2{
                    font-family: 'Defectica-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 60px;
                    line-height: 72px;
                    font-weight: 400;
                    margin: 0;
                }
                .wrap-filters{
                    ul{
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        padding: 0;
                        margin: 0;
                        li{
                            list-style: none;
                            .filter-button{
                                padding: 0;
                                text-transform: uppercase;
                                background: none;
                                cursor: pointer;
                                border: none;
                                text-underline-offset: 6px;
                                font-family: 'Aeonik-Regular', sans-serif;
                                color: $priamry_color;
                                font-size: 16px;
                                line-height: 25.6px;
                                font-weight: 400;
                                position: relative;
                                opacity: 0;
                                transition: all ease-in-out .3s;
                                transform: translateY(20px);
                                transition-delay: .8s;
                                &.is-inview{
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    height: 1px; 
                                    width: 100%;
                                    background-color: $priamry_color; 
                                    transform: scaleX(0); 
                                    transform-origin: left;
                                    transition: transform 0.5s ease-in-out;
                                  }
                                &:hover{
                                &::after {
                                    transform: scaleX(1);   
                                    }
                                }
                                &.active{
                                    &::after {
                                        transform: scaleX(1);  
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cases{
    margin-top: 20px;
    .wraper-cases{
        padding: 0 48px;
        .inside-cases{
            width: 100%;
            .img-1,
            .img-last{
                // margin-top: 20%;
                margin-bottom: 140px;
                a{
                    text-decoration: none;
                    .wrap-img{
                        img{
                            width: 100%;
                            max-height: 900px;
                        }
                        .text{
                            margin-top: 24px;
                            .cat{
                                margin-bottom: 0;
                                margin-top: 0;
                                color: $color-cat;
                                text-transform: capitalize;
                            }
                            .name{
                                margin-bottom: 0;
                                margin-top: 0;
                                font-family: 'Aeonik-Regular', sans-serif;
                                color: $priamry_color;
                                font-size: 18px;
                                line-height: 28.8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .wraper-grid-1{
                position: relative;
                .img-M{
                    width: 37.2%;
                    // position: relative;
                    // left: 62.8%;
                    margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                    text-transform: capitalize;

                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                    text-transform: uppercase;

                                }
                            }
                        }
                    }
                }
                .img-S{
                    width: 25%;
                    // position: absolute;
                    // left: 0%;
                    // top: 25%;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                    text-transform: capitalize;

                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                    text-transform: uppercase;

                                }
                            }
                        }
                    }
                }
                .img-L{
                    width: 65%;
                    // position: relative;
                    // left: 35%;
                    margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                max-height: 860px;
                                height:860px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                    text-transform: capitalize;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
            .wraper-grid-2{
                position: relative;
                margin-bottom: 15%;
                // margin-bottom: 5% !important;
                .img-M{
                    width: 37.2%;
                    // position: relative;
                    // left: 62.8%;
                    // margin-bottom: 140px;

                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                    text-transform: capitalize;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
                .img-S{
                    width: 25%;
                    // position: absolute;
                    // left: 0%;
                    // top: 25%;

                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                height:620px;
                                max-height: 620px;
                                object-fit: cover;
                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                    text-transform: capitalize;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                    text-transform: uppercase;

                                }
                            }
                        }
                    }
                }
                .img-L{
                    width: 65%;
                    // position: relative;
                    // left: 35%;
                    // margin-bottom: 140px;
                    a{
                        text-decoration: none;
                        .wrap-img{
                            width: 100%;
                            img{
                                width: 100%;
                                max-height: 860px;                    
                                height:860px;
                                object-fit: cover;

                            }
                            .text{
                                margin-top: 24px;
                                .cat{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    color: $color-cat;
                                    text-transform: capitalize;
                                }
                                .name{
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    font-family: 'Aeonik-Regular', sans-serif;
                                    color: $priamry_color;
                                    font-size: 18px;
                                    line-height: 28.8px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.img-last{
    margin-top: 100px;
    a{
        text-decoration: none;
        .wrap-img{
            img{
                width: 100%;
                max-height: 900px;
            }
            .text{
                margin-top: 24px;
                .cat{
                    margin-bottom: 0;
                    margin-top: 0;
                    color: $color-cat;
                    text-transform: capitalize;
                }
                .name{
                    margin-bottom: 0;
                    margin-top: 0;
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 18px;
                    line-height: 28.8px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media(max-width:1440px){
    .cases .wraper-cases .inside-cases .wraper-grid-2 {
        margin-bottom: 25%;
    }
}
@media(max-width:1024px){
    .filter-section .wraper-filter .inside-banner .filter {
        max-width: 90%;
    }
}
@media(max-width:768px){
    .filter-section .wraper-filter .inside-banner .filter.is-inview::after {
        display: none;
    }
    .filter-section .wraper-filter .inside-banner .filter {
        max-width: 100%;
    }
    .filter-section .wraper-filter .inside-banner .filter {
        align-items: baseline;
        flex-direction: column;
        gap: 10px;
    }
    .filter-section .wraper-filter .inside-banner{
        padding: 0 16px;
    }
    .filter-section {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}






@media(max-width:1024px){
    .cases {
        .wraper-cases {
            padding: 0 36px;
            .inside-cases {
                .wraper-grid-1 {
                    .img-M {
                        a {
                            .wrap-img {
                                img {
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                    .img-S {
                        a {
                            .wrap-img {
                                img {
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                    .img-L {
                        a {
                            .wrap-img {
                                img {
                                    height: 560px;
                                    max-height: 560px;
                                }
                            }
                        }
                    }
                }
                .wraper-grid-2 {
                    .img-M {
                        a {
                            .wrap-img {
                                img {
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                    .img-S {
                        a {
                            .wrap-img {
                                img {
                                    height: 400px;
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                    .img-L {
                        a {
                            .wrap-img {
                                img {
                                    height: 560px;
                                    max-height: 560px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:900px) {
    .cases {
        .wraper-cases {
            padding: 0 30px;
            .inside-cases {
                .wraper-grid-1 {
                    .img-M {
                        a {
                            .wrap-img {
                                img {
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }
                        }
                    }
                    .img-S {
                        a {
                            .wrap-img {
                                img {
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }
                        }
                    }
                    .img-L {
                        a {
                            .wrap-img {
                                img {
                                    height: 500px;
                                    max-height: 500px;
                                }
                            }
                        }
                    }
                }
                .wraper-grid-2 {
                    .img-M {
                        a {
                            .wrap-img {
                                img {
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }
                        }
                    }
                    .img-S {
                        a {
                            .wrap-img {
                                img {
                                    height: 380px;
                                    max-height: 380px;
                                }
                            }
                        }
                    }
                    .img-L {
                        a {
                            .wrap-img {
                                img {
                                    height: 500px;
                                    max-height: 500px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:768px) {
    .cases {
        .wraper-cases {
            padding: 0 16px;
            .inside-cases {
                .wraper-grid-1 {
                    display: flex;
                    flex-direction: column;
                    .project{
                        width: 100%;                        
                        .img-M {
                            width: 67.1%;
                            margin-bottom: 64px;
                            left: 32.9%;
                            a {
                                .wrap-img {
                                    img {
                                        height: 300px;
                                        max-height: 300px;
                                    }
                                }
                            }
                        }
                        .img-S {
                            position: relative;
                            width: 67.1%;
                            margin-bottom: 64px;
                            left: 0%;
                            a {
                                .wrap-img {
                                    img {
                                        height: 300px;
                                        max-height: 300px;
                                    }
                                }
                            }
                        }
                        .img-L {
                            width: 100%;
                            margin-bottom: 64px;
                            left: 0;
                            a {
                                .wrap-img {
                                    img {
                                        height: 480px;
                                        max-height: 480px;
                                    }
                                }
                            }
                        }
                    }
                }
                .wraper-grid-2 {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10%;
                    .project{
                        width: 100%;  
                        .img-M {
                            width: 67.1%;
                            margin-bottom: 64px;
                            left: 0%;
                            a {
                                .wrap-img {
                                    img {
                                        height: 300px;
                                        max-height: 300px;
                                    }
                                }
                            }
                        }
                        .img-S {
                            position: relative;
                            width: 67.1%;
                            margin-bottom: 64px;
                            left: 32.9%;
                            a {
                                .wrap-img {
                                    img {
                                        height: 300px;
                                        max-height: 300px;
                                    }
                                }
                            }
                        }
                        .img-L {
                            width: 100%;
                            margin-bottom: 64px;
                            left: 0;
                            a {
                                .wrap-img {
                                    img {
                                        height: 480px;
                                        max-height: 480px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px) {
    .cases {
        .wraper-cases {
            padding: 0 16px;
            .inside-cases {
                .wraper-grid-1{
                    .img-M{
                        margin-bottom: 64px;
                        left: 33.3%;
                        width: 67.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }  
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }
                        } 
                    }
                    .img-S{
                        position: relative;
                        top: 0;
                        margin-bottom: 64px;
                        width: 67.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .img-L{
                        width: 100%;
                        left: 0;
                        margin-bottom: 64px;
                        a{
                            .wrap-img {
                                img{
                                    max-height: 480px;
                                    height: 480px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }  
                        } 
                    }
                }
                .wraper-grid-2{
                    margin-bottom: 5% !important;
                    .img-M{
                        margin-bottom: 64px;
                        right: 33.3%;
                        width: 67.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }  
                        } 
                    }
                    .img-S{
                        position: relative;
                        top: 0;
                        margin-bottom: 64px;
                        width: 67.1%;
                        left: 33.1%;
                        a{
                            .wrap-img {
                                img{
                                    height: 300px;
                                    max-height: 300px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .img-L{
                        width: 100%;
                        left: 0;
                        margin-bottom: 64px;
                        a{
                            .wrap-img {
                                img{
                                    max-height: 480px;
                                    height: 480px;
                                }
                            }
                            .text{
                                margin-top: 8px;
                                .cat{
                                    font-size: 14px;
                                }
                                .name{
                                    font-size: 16px;
                                }
                            }  
                        } 
                    }
                }
            }
        }
    }
    .cases .wraper-cases .inside-cases .wraper-grid-1 .img-M a .wrap-img .text {
        margin-top: 8px;
    }
    .cases .wraper-cases .inside-cases .wraper-grid-1 .img-S a .wrap-img .text {
        margin-top: 8px;
    }
    .cases .wraper-cases .inside-cases .wraper-grid-1 .img-L a .wrap-img .text {
        margin-top: 8px;
    }
    .cases .wraper-cases .inside-cases .wraper-grid-2 .img-M a .wrap-img .text {
        margin-top: 8px;
    }
    .cases .wraper-cases .inside-cases .wraper-grid-2 .img-S a .wrap-img .text {
        margin-top: 8px;
    }
    .cases .wraper-cases .inside-cases .wraper-grid-2 .img-L a .wrap-img .text {
        margin-top: 8px;
    }
    .cases .wraper-cases .inside-cases .img-1, .cases .wraper-cases .inside-cases .img-last {
        margin-bottom: 0;
    }
}
