@import 'globals';
@import 'variables';
@import 'plyr';

.single-banner{
    margin-top: 36px;
    .inside-single-banner{
        padding:0 48px;
        h1{
            margin: 0;
            font-family: 'Defectica-Regular', sans-serif;
            color: $priamry_color;
            font-size: 177px;
            line-height: 212.4px;
            font-weight: 400;
            position: relative;
        }
        .wraper-single-banner{
            .img-wraper{
                position: relative;
                overflow: hidden; 
                img{
                    width: 100%;
                    max-height: 900px;
                    height: 900px;
                    transition-delay: .7s;
                    object-fit: cover;
                }
            }
            .video-wraper{
                position: relative;
                .plyr__video-embed{
                    width: 100%;
                    max-height: 900px;
                    height: 900px;
                    iframe{
             
                    }
                }
                .button-wraper{
                    position: absolute;
                    right: 3%;
                    bottom: 5%;
                    display: flex;
                    gap: 16px;
                    align-items: self-start;
                    .play-text{
                        margin: 0;
                        font-family: 'Defectica-Regular', sans-serif;
                        color: $secondary_color;
                        font-size: 60px;
                        line-height: 72px;
                        font-weight: 400;
                        cursor: pointer;
                        text-transform: uppercase;
                    }
                    .btn-play{
                        padding: 19px;
                        padding-left: 22px;
                        padding-top: 21px;
                        border: 1px solid $secondary_color;
                        border-radius: 50%;
                        background:none;
                        cursor: pointer;
                        img{
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
            .text-wrap{
                margin-top:40px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .cat{
                    font-family: 'Defectica-Regular', sans-serif;
                    color: $cat-single-color;
                    opacity: 30%;
                    font-size: 60px;
                    line-height: 72px;
                    font-weight: 400;
                    margin: 0;
                }
                .date{
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 18px;
                    line-height: 25.4px;
                    font-weight: 400;
                    margin: 0;
                    transition-delay: .5s;
                }
                .text{
                    max-width: 700px;
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 18px;
                    line-height: 25.4px;
                    font-weight: 400;
                    margin: 0;
                    padding-right: 1%;
                    transition-delay: .7s;
                }
            }
        }

    }
}


video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

.video-wraper{
    // opacity: 0;
    // transform: scale(0.9);
    // transform-origin: left;
    // transform-origin: center;
    // transition: opacity .5s ease-out, transform .5s ease-out;
    // transition-delay: .3s;
    &.is-inview{
        // opacity: 1;
        // transform: scale(1);
    }
}


@media(max-width:1440px) {
    .single-banner .inside-single-banner .wraper-single-banner .img-wraper img {
        max-height: 800px;
        height: 800px;
    }
    .single-banner .inside-single-banner h1 {
        font-size: 159px;
        line-height: 200.4px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 52px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        max-width: 550px;
    }
}
@media(max-width:1200px) {
    .single-banner .inside-single-banner .wraper-single-banner .img-wraper img {
        max-height: 700px;
        height: 700px;
    }
    .single-banner .inside-single-banner h1 {
        font-size: 145px;
        line-height: 190.4px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 46px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        max-width: 490px;
    }
}
@media(max-width:1024px) {
    .single-banner .inside-single-banner .wraper-single-banner .img-wraper img {
        max-height: 600px;
        height: 600px;
    }
    .single-banner .inside-single-banner h1 {
        font-size: 130px;
        line-height: 158.4px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 42px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        max-width: 390px;
    }
    .single-banner .inside-single-banner {
        padding: 0 30px;
    }
}
@media(max-width:992px) {
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        max-width: 350px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        font-size: 16px;
        line-height: 24.4px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 41px;
        line-height: 68px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .date {
        font-size: 16px;
        line-height: 24.4px;
    }
    .single-banner .inside-single-banner {
        padding: 0 26px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap {
        margin-top: 15px;
    }
}
@media(max-width:800px) {
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        max-width: 320px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        font-size: 16px;
        line-height: 22.4px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 38px;
        line-height: 68px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .date {
        font-size: 16px;
        line-height: 22.4px;
    }
    .single-banner .inside-single-banner {
        padding: 0 22px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap {
        margin-top: 15px;
    }
}
@media(max-width:768px) {
    .single-banner {
        margin-top: 50px;
    }
    .single-banner .inside-single-banner {
        padding: 0 0px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap {
        margin-top: 22px;
        padding: 0 16px;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        flex-wrap: wrap;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 38px;
        line-height: 68px;
        width: 50%;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .date {
        font-size: 16px;
        line-height: 22.4px;
        width: 50%;
        text-align: end;
    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
        font-size: 16px;
        line-height: 22.4px;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        font-weight: 500;
        margin-top: 15px;

    }
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 32px;
        line-height: 40px;
        width: 50%;
    }
    .single-banner .inside-single-banner h1 {
        font-size: 60px;
        line-height: 90px;
        padding-left: 16px;
    }
    
    // .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat, .single-banner .inside-single-banner .wraper-single-banner .text-wrap .date {
    //     flex: 1 1 100px; /* Adjusts the size of the first two items */
    //     margin-right: 10px; /* Optional: Adds some space between the first two items */
    // }
    
    // .single-banner .inside-single-banner .wraper-single-banner .text-wrap .text {
    //     flex-basis: 100%; /* Forces the third item to take up the entire width and move to the next line */
    //     margin-top: 10px; /* Optional: Adds space between the second and third item */
    // }
}

@media(max-width:425px) {
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 28px;
    }
}
@media(max-width:375px) {
    .single-banner .inside-single-banner .wraper-single-banner .text-wrap .cat {
        font-size: 26px;
    }
}