@import 'globals';
@import 'variables';

.social-media{
    margin-top: 190px;
    .wraper-social{
        padding:0 48px;
        .inside-social{
            h1{
                margin: 0;
                font-family: 'Defectica-Regular', sans-serif;
                color: $priamry_color;
                font-size: 177px;
                line-height: 212.4px;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .socials{
                display: flex;
                gap: 10px;
                ul{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    .socials-wraper{
                        width: 75%;
                        &:last-child{
                            border: none;
                        }
                        .show-img{
                            .nr{
                                margin: 0;
                                font-family: 'Aeonik-Regular', sans-serif;
                                color: $socials-col;
                                font-size: 18px;
                                line-height: 28.8px;
                                font-weight: 400;
                                transition-delay: .4s;
                            }
                            .name{
                                margin: 0;
                                font-family: 'Defectica-Regular', sans-serif;
                                color: $socials-col;
                                font-size: 60px;
                                line-height: 72px;
                                font-weight: 400;
                                width: 310px;
                                max-width: 310px;
                                text-align: left;
                                transition-delay: .5s;
                            }
                            .go-to{
                                .link-in-link{
                                    margin: 0;
                                    text-decoration: none;
                                    display: flex;
                                    gap: 8px;
                                    align-items: baseline;
                                    p{
                                        margin: 0;
                                        font-family: 'Aeonik-Regular', sans-serif;
                                        color: $socials-col;
                                        font-size: 18px;
                                        line-height: 28.8px;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        transition-delay: .6s;
    
                                    }
                                    img{
                                        width: 12px !important;
                                        height: 12px !important;
                                        opacity: 0 ;
                                        transform: translateY(20px) ;
                                        transition: all ease-in-out .4s ;
                                        transition-delay: .6s ;
                                        filter: brightness(0) saturate(100%) invert(83%) sepia(6%) saturate(480%) hue-rotate(201deg) brightness(87%) contrast(87%);
                                        &.is-inview{
                                            opacity: 1;
                                            transform: translateY(0) !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.socials{
    position: relative;
    // overflow: hidden; 
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 1px;
        background-color: $priamry_color; 
        transform: scaleX(0); 
        transform-origin: left;
        transition: transform .7s linear;
        transition-delay: .3s;
    }
    &.is-inview::before {
        transform: scaleX(1); 
    }
}

@keyframes border-animation {
    0% {
        transform: scaleX(0); 
    }
    100% {
        transform: scaleX(1); 
    }
}
.socials-wraper{
    position: relative;
    // overflow: hidden; 
    cursor: default;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; 
        width: 100%;
        height: 1px;
        background-color: $priamry_color; 
        transform: scaleX(0); 
        transform-origin: left;
        transition: transform .7s linear;
        transition-delay: .3s;
    }

    &.is-inview::before {
        transform: scaleX(1); 
    }
    &:last-child{
        &.is-inview::before {
            transform: scaleX(0); 
        }
    }
}

.hover-image-container{
    width: 35%;
    padding: 40px;
    img{
        opacity: 0;
        transition: opacity ease-in-out .3s;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        will-change: transform;
        pointer-events: none;
        &.active-img-socials {
            opacity: 1 ;
        }
    }
}
.socials-wraper{
    .show-img{
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 60px;
        padding-top: 24px;
    }
}
.socials-wraper{
    position: relative;
    .imgs-wrap-social{
        position: relative;
        .hover-iframe{
            position: absolute;
            width: 16vw;
            min-height: 307.2px;
            max-height: 307.2px;            
            transform: translateX(-50%) translateY(-50%);
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            object-fit: cover;            
            z-index: 2;
            border: none;
        }
    }
}


.social-media .wraper-social .inside-social .socials ul .socials-wraper .show-img {
    &:hover {
        .nr {
            transition: color ease 0.2s; 
            color: $priamry_color; 
            transition-delay: 0s; 
        }

        .name {
            transition: color ease 0.2s; 
            color: $priamry_color; 
            transition-delay: 0s; 
        }

        .go-to .link-in-link {
            p {
                transition: color ease 0.2s; 
                color: $priamry_color; 
                transition-delay: 0s; 
            }
            img {
                transition: filter ease 0.2s; 
                filter: revert;
                transition-delay: 0s; 
            }
        }
    }
    .nr,
    .name,
    .go-to .link-in-link p,
    .go-to .link-in-link img {
        transition: all ease 0.3s;
        transition-delay: 0.3s; 
    }
}

@media(max-width:1440px){

    .social-media .wraper-social .inside-social h1 {
        margin: 0;
        font-family: "Defectica-Regular", sans-serif;
        color: #000;
        font-size: 145px;
        line-height: 190.4px;
        font-weight: 400;
        margin-bottom: 24px;
    }

}
@media(max-width:1040px){

    .social-media .wraper-social .inside-social h1 {
        font-size: 145px;
        line-height: 190.4px;
    }
    .social-media .wraper-social .inside-social h1 {
        font-size: 110px;
        line-height: 130.4px;

    }
    .social-media .wraper-social .inside-social .socials ul .socials-wraper {
        width: 80%;
    }
    .social-media .wraper-social .inside-social .socials ul .socials-wraper .name {
        font-size: 54px;
        line-height: 60px;
    }
    .socials-wraper .show-img {
        padding-bottom: 50px;
    }
}


@media(max-width:992px){
    .social-media .wraper-social .inside-social h1 {
        font-size: 90px;
        line-height: 100.4px;
    }
    .socials-wraper .show-img {
        padding-bottom: 42px;
        padding-top: 24px;
    }
    .social-media .wraper-social .inside-social .socials ul .socials-wraper .name {
        font-size: 44px;
        line-height: 54px;
        width: 240px;
    }
    .social-media {
        margin-top: 100px;
    }
}


@media(max-width:768px){
    .social-media .wraper-social {
        padding: 0 16px;
    }
    .social-media {
        margin-top: 64px;
        margin-bottom: 40px;
    }
    .social-media .wraper-social .inside-social .socials ul .socials-wraper {
        width: 100%;
    }
    .social-media .wraper-social .inside-social h1 {
        font-size: 64px;
        margin-bottom: 14px;
    }
    .social-media .wraper-social .inside-social .socials ul .socials-wraper .name {
        font-size: 28px;
        line-height: 34px;
        width: 170px;
    }
    .social-media .wraper-social .inside-social .socials ul .socials-wraper .go-to .link-in-link p {
        display: none;
    }
    .socials-wraper .show-img {
        padding-bottom: 24px;
        padding-top: 24px;
    }
}

@media(max-width:600px){
    .social-media .wraper-social .inside-social h1 {
        font-size: 58px;
        margin-bottom: 2px;
    }
}
@media(max-width:425px){
    .social-media .wraper-social .inside-social h1 {
        font-size: 50px;
        margin-bottom: 0px;
    }
}

