@import 'globals';
@import 'variables';

.wrap-values-stats{
    background-color: $priamry_color;
    .values{
        // background:$priamry_color;
        padding-bottom: 100px;
        margin-top: 160px;
        .wraper-values{
            padding: 0 0px;
            padding-left: 48px;
            padding-top:160px;
            .text-principles{
                margin: 0;
                color: $third_color;
                font-family: 'Defectica-Regular', sans-serif;
                font-size: 177px;
                line-height: 194.7px;
                font-weight: 400;
            }
            .text-values{
                margin: 0;
                color: $third_color;
                font-family: 'Defectica-Regular', sans-serif;
                font-size: 177px;
                line-height: 194.7px;
                font-weight: 400;
                text-indent: 35%;
            }
            .inside-values{
                margin-top: 0px;
                .wraper-grid-2{
                    margin-bottom: 8% !important;
                }
                .section-1{
                    margin-top: 14%;
                    display: flex;
                    align-items: flex-start;
                    gap: 24px;
                    img{
                        max-width: 600px;
                        max-height: 475px;
                        width: 600px;
                        height: 475px;
                        object-fit: cover;
                    }
                    .wrap-text-value{
                        .val{
                            color: $third_color;
                            margin-top: 0;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 16px;
                            line-height: 13.6px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        .text{
                            color: $third_color;
                            margin-top: 0;
                            max-width: 340px;
                            min-width: 325px;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 18px;
                            line-height: 25.2px;
                            font-weight: 400;
                            opacity: 80%;
                            transition-delay: .5s;
                        }
                    }
    
                }
                .section-2{
                    display: flex;
                    margin-top: 1%;
                    align-items: flex-start;
                    gap: 24px;
                    justify-content: end;
                    margin-right: 5%;
                    img{
                        max-width: 300px;
                        max-height: 389px;
                        width: 300px;
                        height: 389px;
                        object-fit: cover;
                    }
                    .wrap-text-value{
                        .val{
                            color: $third_color;
                            margin-top: 0;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 16px;
                            line-height: 13.6px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        .text{
                            color: $third_color;
                            opacity: 80%;
                            margin-top: 0;
                            min-width: 325px;
                            max-width: 340px;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 18px;
                            line-height: 25.2px;
                            font-weight: 400;
                        }
                    }
                }
                .section-3{
                    margin-top: 6%;
                    display: flex;
                    align-items: flex-start;
                    gap: 24px;
                    justify-content: end;
                    margin-right: 3%;
                    img{
                        max-width: 600px;
                        max-height: 470px;
                        width: 600px;
                        height: 470px;
                        object-fit: cover;
                    }
                    .wrap-text-value{
                        .val{
                            color: $third_color;
                            margin-top: 0;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 16px;
                            line-height: 13.6px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        .text{
                            color: $third_color;
                            opacity: 80%;
                            margin-top: 0;
                            max-width: 340px;
                            min-width: 325px;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 18px;
                            line-height: 25.2px;
                            font-weight: 400;
                        }
                    }
    
                }
                .section-4{
                    display: flex;
                    margin-top: 16%;
                    align-items: flex-start;
                    gap: 24px;
                    justify-content: end;
                    // margin-right: 10%;
                    // margin-bottom: 10%;
                    img{
                        max-width: 300px;
                        max-height: 390px;
                        width: 300px;
                        height: 390px;
                        object-fit: cover;
                    }
                    .wrap-text-value{
                        padding-right: 10%;
                        .val{
                            color: $third_color;
                            margin-top: 0;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 16px;
                            line-height: 13.6px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        .text{
                            color: $third_color;
                            opacity: 80%;
                            margin-top: 0;
                            max-width: 340px;
                            min-width: 325px;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 18px;
                            line-height: 25.2px;
                            font-weight: 400;
                        }
                    }
    
                }
                .section-5{
                    display: flex;
                    flex-direction: column-reverse;
                    img{
                        // max-width: 300px;
                        max-height: 800px;
                        object-fit: cover;
                    }
                    .wrap-text-value{
                        .val{
                            color: $third_color;
                            margin-top: 0;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 16px;
                            line-height: 13.6px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        .text{
                            color: $third_color;
                            opacity: 80%;
                            margin-top: 0;
                            min-width: 325px;
                            max-width: 340px;
                            font-family: 'Aeonik-Regular', sans-serif;
                            font-size: 18px;
                            line-height: 25.2px;
                            font-weight: 400;
                        }
                    }
    
                }
            }
        }
    }
    
    .stats{
        // background:$priamry_color;
        padding-bottom: 160px;
        padding-top: 20px;
        .wraper-stats{
            .inside-stats{
                .wraper-inside-text{
                    margin-bottom: 120px;
                    margin-right: 155px;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    gap: 40px;
                    h5{
                        margin: 0;
                        max-width: 1210px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        color: $third_color;
                        font-size: 32px;
                        line-height: 38.4px;
                        font-weight: 400;
                        text-indent: 29%;
                    }
                    .texts{
                        display: flex;
                        align-items: baseline;
                        width: 1210px;
                        gap: 60px;
                        .left-right{
                            max-width: 564px;
                            font-family: 'Aeonik-Regular', sans-serif;
                            color: $third_color;
                            font-size: 18px;
                            line-height: 25.5px;
                            font-weight: 400;
                            text-transform: none;
                            &:nth-child(1){
                                transition-delay: .4s;
                            }
                            &:nth-child(2){
                                transition-delay: .5s;
                            }
                        }
                    }
                }
                .img-wrap-comp{
                    display: flex;
                    justify-content: end;
                    margin-right: 155px;
                    img{
                        width: 1210px;
                        max-height: 760px;
                    }
                }
            }
        }
    }
}


// .horizontal-scroll {
//     overflow: hidden; /* Hide scrollbar */
// }

// .horizontal-scroll .scroll-container {
//     display: flex;
//     flex-direction: row; /* Align items horizontally */
//     overflow-x: auto; /* Enable horizontal scrolling */
//     scroll-snap-type: x mandatory; /* Optional: Snap scrolling */
// }

// .horizontal-scroll .scroll-container > div {
//     flex: 0 0 auto; /* Prevent items from shrinking */
//     width: 100vw; /* Adjust as needed */
//     scroll-snap-align: start; /* Optional: Align items to start */
// }

.pin-wrap,
.animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
}
.section-5{
    padding-right: 48px;
    margin-top: 5%;

}

// section.horizontal .animation-wrap.to-right {
//     counter-reset: item;
//     float: left;
// }
// section.horizontal .animation-wrap.to-right .item:before {
//     counter-increment: item;
//     content: counter(item);
// }



// .section-1 .brick-img,
// .section-2 .brick-img,
// .section-3 .brick-img,
// .section-4 .brick-img,
// .section-5 .brick-img{
//     width: 100%;
//     height: auto;
//     display: block;
//     will-change: transform;
// }

// .section-1,
// .section-2,
// .section-3,
// .section-4,
// .section-5 {
//     position: relative;
//     overflow: hidden; 
// }