@import 'globals';
@import 'variables';

.values{
    background:$priamry_color;
    padding-bottom: 100px;
    margin-top: 160px;
    .wraper-values{
        padding: 0 48px;
        padding-top:160px;
        .text-principles{
            margin: 0;
            color: $third_color;
            font-family: 'Defectica-Regular', sans-serif;
            font-size: 177px;
            line-height: 194.7px;
            font-weight: 400;
        }
        .text-values{
            margin: 0;
            color: $third_color;
            font-family: 'Defectica-Regular', sans-serif;
            font-size: 177px;
            line-height: 194.7px;
            font-weight: 400;
            text-indent: 35%;
        }
        .inside-values{
            margin-top: 120px;
            .wraper-grid-2{
                margin-bottom: 8% !important;
            }
            .section-2{
                margin-top: 120px;
                display: flex;
                align-items: flex-start;
                gap: 24px;
                img{
                    max-width: 600px;
                    max-height: 475px;
                }
                .wrap-text-value{
                    .val{
                        color: $third_color;
                        margin-top: 0;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 16px;
                        line-height: 13.6px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .text{
                        color: $third_color;
                        margin-top: 0;
                        max-width: 340px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 18px;
                        line-height: 25.2px;
                        font-weight: 400;
                        opacity: 80%;
                    }
                }

            }
            .section-1{
                display: flex;
                align-items: flex-start;
                gap: 24px;
                justify-content: end;
                margin-right: 15%;
                img{
                    max-width: 300px;
                    max-height: 389px;
                }
                .wrap-text-value{
                    .val{
                        color: $third_color;
                        margin-top: 0;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 16px;
                        line-height: 13.6px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .text{
                        color: $third_color;
                        opacity: 80%;
                        margin-top: 0;
                        max-width: 340px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 18px;
                        line-height: 25.2px;
                        font-weight: 400;
                    }
                }
            }
            .section-3{
                margin-top: 20px;
                display: flex;
                align-items: flex-start;
                gap: 24px;
                justify-content: end;
                margin-right: 25%;
                img{
                    max-width: 600px;
                    max-height: 470px;
                }
                .wrap-text-value{
                    .val{
                        color: $third_color;
                        margin-top: 0;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 16px;
                        line-height: 13.6px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .text{
                        color: $third_color;
                        opacity: 80%;
                        margin-top: 0;
                        max-width: 340px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 18px;
                        line-height: 25.2px;
                        font-weight: 400;
                    }
                }

            }
            .section-4{
                display: flex;
                align-items: flex-start;
                gap: 24px;
                justify-content: end;
                margin-right: 10%;
                margin-bottom: 10%;
                img{
                    max-width: 300px;
                    max-height: 390px;
                }
                .wrap-text-value{
                    .val{
                        color: $third_color;
                        margin-top: 0;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 16px;
                        line-height: 13.6px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .text{
                        color: $third_color;
                        opacity: 80%;
                        margin-top: 0;
                        max-width: 340px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 18px;
                        line-height: 25.2px;
                        font-weight: 400;
                    }
                }

            }
            .section-5{
                display: flex;
                flex-direction: column-reverse;
                img{
                    // max-width: 300px;
                    max-height: 800px;
                    object-fit: cover;
                }
                .wrap-text-value{
                    .val{
                        color: $third_color;
                        margin-top: 0;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 16px;
                        line-height: 13.6px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .text{
                        color: $third_color;
                        opacity: 80%;
                        margin-top: 0;
                        max-width: 340px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        font-size: 18px;
                        line-height: 25.2px;
                        font-weight: 400;
                    }
                }

            }
        }
    }
}

.stats{
    background:$priamry_color;
    padding-bottom: 160px;
    padding-top: 20px;
    .wraper-stats{
        .inside-stats{
            .wraper-inside-text{
                margin-bottom: 120px;
                margin-right: 155px;
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 40px;
                h5{
                    margin: 0;
                    max-width: 1210px;
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $third_color;
                    font-size: 32px;
                    line-height: 38.4px;
                    font-weight: 400;
                    text-indent: 29%;
                }
                .texts{
                    display: flex;
                    align-items: baseline;
                    width: 1210px;
                    gap: 60px;
                    .left-right{
                        max-width: 564px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        color: $third_color;
                        font-size: 18px;
                        line-height: 25.5px;
                        font-weight: 400;
                        text-transform: none;
                    }
                }
            }
            .img-wrap-comp{
                display: flex;
                justify-content: end;
                margin-right: 155px;
                img{
                    width: 1210px;
                    max-height: 760px;
                }
            }
        }
    }
}


// .horizontal-scroll {
//     overflow: hidden; /* Hide scrollbar */
// }

// .horizontal-scroll .scroll-container {
//     display: flex;
//     flex-direction: row; /* Align items horizontally */
//     overflow-x: auto; /* Enable horizontal scrolling */
//     scroll-snap-type: x mandatory; /* Optional: Snap scrolling */
// }

// .horizontal-scroll .scroll-container > div {
//     flex: 0 0 auto; /* Prevent items from shrinking */
//     width: 100vw; /* Adjust as needed */
//     scroll-snap-align: start; /* Optional: Align items to start */
// }

.pin-wrap,
.animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
}

// section.horizontal .animation-wrap.to-right {
//     counter-reset: item;
//     float: left;
// }
// section.horizontal .animation-wrap.to-right .item:before {
//     counter-increment: item;
//     content: counter(item);
// }