//spacing
$s1: 4px;
$s2: 8px;
$s3: 16px;
$s4: 24px;
$s5: 32px;
$s6: 48px;
$s7: 56px;
$s8: 64px;
$s9: 96px;
$s10: 120px;
$s11: 128px;

//colors
$priamry_color: #000000;
$secondary_color:#DEDFE4;
$third_color:#FFFFFF; 
$secondary_50:rgba(5, 2, 26, 0.5);
$border-col:rgba(255, 255, 255, 0.15);
$cp-color:rgba(255, 255, 255, 1);
$color-cat:rgba(5, 2, 26, 0.4);
$btn-color:rgba(0, 0, 50, 0.03);

