@import 'globals';
@import 'variables';

.we-are{
    .wrap-we-are{
        padding: 0 48px;
        .inside-we-are{
            margin-top: 120px;
            display: flex;
            justify-content: space-between;
            p{
                font-family: 'Aeonik-Regular', sans-serif;
                color: $priamry_color;
                font-size: 18px;
                line-height: 28.8px;
                font-weight: 400;
                text-transform: uppercase;
                margin: 0;
            }
            .wraper-inside-text{
                margin-right: 155px;
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 40px;
                h5{
                    margin: 0;
                    max-width: 1210px;
                    font-family: 'Aeonik-Regular', sans-serif;
                    color: $priamry_color;
                    font-size: 32px;
                    line-height: 38.4px;
                    font-weight: 400;
                    text-indent: 29%;
                }
                .texts{
                    display: flex;
                    align-items: baseline;
                    width: 1210px;
                    gap: 60px;
                    .left-right{
                        max-width: 564px;
                        font-family: 'Aeonik-Regular', sans-serif;
                        color: $priamry_color;
                        font-size: 18px;
                        line-height: 25.5px;
                        font-weight: 400;
                        text-transform: none;
                    }
                }
            }
            
        }
        .imgs{
            margin-top: 200px;
            margin-bottom: 120px;
            position: relative;
            .img-1-comp{
                max-width: 751px;
                max-height: 620px;
                height: 620px;
                object-fit: cover;
            }
            .img-2-comp{
                max-width: 444px;
                max-height: 620px;
                height: 620px;
                object-fit: cover;
                position: absolute;
                right: 20%;
                top: 15%;
            }
        }
    }
}

.inside-we-are{
    opacity: 0;
    transition: all ease-in .3s;
    // transform: translateY(20%);
    transition-delay: .3s;
    &.is-inview{
        opacity: 1;
        // transform: translateY(0);
    }
}

.img-1-comp, .img-2-comp {
    opacity: 0;
    transform: scale(.9);
    transform-origin: left;
    transform-origin: center ; 
    transition: opacity .7s ease-out, transform .7s ease-out;
    transition-delay: .5s;
    &.is-inview{
        opacity: 1;
        transform: scale(1);
    }
}