@import 'globals';
@import 'variables';
@import 'header';
@import 'footer';
@import 'home';
@import 'cases-home';
@import 'banner-cases';
@import 'projects-cases';
@import 'banner-company';
@import 'we-are';
@import 'our-services';
@import 'awards';
@import 'values';
@import 'social-media';
@import 'single-banner';
@import 'single-grid';
@import 'plyr';


body {
    padding: 0;
    margin: 0;
}
html.has-scroll-smooth {
    overflow: hidden;
    margin: 0 !important;
}